# Render Environment Variables (Backend)
SECRET_KEY=django-insecure-change-this-in-production-2026
DEBUG=False
DATABASE_URL=postgresql://usuario:password@host-render-postgres:5432/nombre_db
FRONTEND_URL=https://banqueterialina.cl
CSRF_TRUSTED_ORIGINS=https://banqueterialina.cl,https://*.vercel.app,https://*.onrender.com
RESEND_API_KEY=re_tu_resend_api_key_aqui
